@import '~office-ui-fabric-react/dist/sass/References.scss';
.archivedComments {
    position: relative;
    padding: 5px;
    h3 {
        font-size: 24px;
        font-weight: bold;
    }
}

#archivedComments>div {
    padding: 0px 15px;
    // border: 1px solid black;
    // border-radius: 5px;
    color: #767676;
    background-color: white;
    position: relative;
    margin-bottom: 7px;
}

#archivedComments>div>div {
    margin-left: 30px;
}