div#archivedcomments > div{
    border: 1px solid  black;
    padding: 0px 15px;
    border-radius:5px;    
    color:#767676;
    background-color:white;
    position: relative;
    margin-bottom: 7px;
  }
  
  #archivedcomments > div > div {
    margin-left: 30px;
  }